<div class="col-md-6 user-container">
  <h2 class="text-center">Manage Account</h2>

  <input type="text" value="{{account ? account.balance : null}}">

  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="amount">Add/Remove amount:</label>
      <input type="number" formControlName="amount" placeholder="amount" name="amount" class="form-control" id="amount">
    </div>

    <dual-list [source]="source" [(destination)]="confirmed"></dual-list>

    <button class="btn btn-success">Submit</button>
  </form>
</div>
