<div class="col-md-6 user-container">
  <h2 style="margin: auto">Add User</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="form-group">
      <mat-form-field>
        <input matInput type="text" formControlName="username" placeholder="Username (ex: sarah)" name="username" class="form-control" id="username" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput type="number" formControlName="balance" placeholder="Initial Balance [$] (ex: 20)" name="balance" class="form-control" id="balance" required>
      </mat-form-field>
    </div>
    <button mat-button (click)="back()" class="mat-button mat-button-base button-alert">Back</button>
    <button mat-button class="mat-button mat-button-base button-confirm" style="margin-left: 10px">Add</button>
  </form>
</div>
