<div class="col-md-6 user-container">
  <h2 style="margin: auto">Add User</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="form-group">
      <label for="username">User Name:</label>
      <input type="text" formControlName="username" placeholder="ex: sarah" name="username" class="form-control" id="username" required>
    </div>

    <div class="form-group">
      <label for="balance">Initial Balance ($)</label>
      <input type="number" formControlName="balance" placeholder="ex: 20" name="balance" class="form-control" id="balance" required>
    </div>

    <button mat-button>Add</button>
  </form>
</div>
