<div class="col-md-6 user-container">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">User Name:</label>
      <input type="text" formControlName="username" placeholder="ex: sarah" name="username" class="form-control" id="username">
    </div>

    <div class="form-group">
      <label for="balance">Initial Balance:</label>
      <input type="number" formControlName="balance" placeholder="ex: 20" name="balance" class="form-control" id="balance">
    </div>

    <button class="btn btn-success">Add</button>
  </form>
</div>
