/* Global */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  margin: 30px;
}

/* Forms */
.mat-form-field-infix {
  padding-left: 10px !important;
}

/* Buttons */
.button-confirm {
  background-color: #d0e5d0;
}

.button-alert {
  background-color: #e5d0d0;
}
